h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
  font-weight: 100;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: red;
}

hr {
  margin-right: 10%;
  margin-left: 10%;
}

.img {
  float: right;
  border-style: solid;
  border-color: black;
}

img {
  width: 250px;
}

h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
  font-weight: 100;
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-thickness: 5px;
}

.sidebar {
  width: 18%;
  border-style: double;
  background-color: #8C92AC;
  padding-top: -100px;
  margin-top: 50px;
}

.story {
  text-align: center;
}

.history {
  width: 500px;
  float: right;
  margin-right: 50px;
  border-style: double;
  margin-top: -15px;
  line-height: 25px;
  padding-top: -20px;
  background-color: #8C92AC;
}